@import url(../lib/material-design-icons-3.0.2/iconfont/material-icons.css);

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-image: url(../images/bg.png);
    background-repeat: repeat-x;
    background-color: rgb(218, 236, 250);
    display: flex;
    justify-content: center;
}

.container {
    display: grid;
    border-radius: 30px;
    background-color: rgb(247, 251, 254);
    width: 80%;
    height: 300px;
    margin-top: 100px;
    grid-template-rows: 20% 80%;
}

header {
    display: flex;
    background-color: #fff;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}